/* https://stackoverflow.com/questions/33766350/how-to-perfectly-center-a-plus-sign-in-a-circle-using-css */
.circle {
  border: 0px solid #000;
  background-color: #2d3233;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  outline: none !important;
}
.circle:hover {
  background-color: #4f4f4f;
}
.circle.plus:before,
.circle.plus:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #919191;
}
.circle.plus:before {
  width: 1px;
  margin: 2px auto;
}
.circle.plus:after {
  margin: auto 2px;
  height: 1px;
}
